@font-face {
	font-family: 'Bungee'; /* Nome para a fonte */
	src: url('../assets/fonts/Bungee-Regular.TTF') format('truetype'); /* Caminho do arquivo TTF */
}

@font-face {
	font-family: 'Jersey25'; /* Nome para a fonte */
	src: url('../assets/fonts/Jersey25-Regular.TTF') format('truetype'); /* Caminho do arquivo TTF */
}

:root {
	--primary-color: #308333;
	--secondary-color: #053930;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 100%;
	font-family: 'Press Start 2P', serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	font-family: 'Press Start 2P', system-ui;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	background: #000;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	/* background: url('../assets/img/background-menu.jpg') no-repeat center; */
	background: var(--secondary-color);
	background-size: cover;
}

.button-audio {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	background: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
}

.audio-on.-hidden,
.audio-off.-hidden {
	display: none;
}

.color-primary {
	color: var(--primary-color);
}

.color-secondary {
	color: var(--secondary-color);
}

.game-name {
	width: 100%;
	max-width: 550px;
	padding: 0px 160px 40px 160px;
}

.game-name img {
	width: 100%;
	height: auto;
}

.game-over-name,
.game-win {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	color: #fff;
	font-size: 4rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.game-win {
	gap: 40px;
}

#main-menu,
#game-over-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

#game-container {
    width: 100%;
}

#main-menu.-hidden,
#game-container.-hidden,
#game-over-menu.-hidden {
	display: none;
}

.menu-item {
	padding: 10px 20px;
	background: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	cursor: pointer;
	position: relative;
	line-height: 24px; /* Ajuste a altura da linha se necessário */
}

.menu-item::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -30px;
	width: 40px;
	height: 40px;
	background: url('../assets/img/indicador-menu.png') no-repeat center;
	background-size: contain;
	visibility: hidden;
	animation: blink 0.5s infinite;
	transform: translateY(-50%);
}

.menu-item.selected::before {
	visibility: visible;
}

.footer {
	position: absolute;
	bottom: 10px;
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
	align-items: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	color: #fff;
	background: var(--secondary-color);
	font-size: 0.5rem;
	gap: 2px; /* Chrome */
}

.dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.dialog-box {
	background: black;
	border: 2px solid var(--primary-color);
	padding: 20px;
	color: #fff;
	font-family: 'Press Start 2P', sans-serif;
}

.dialog-buttons {
	margin-top: 20px;
}

.dialog-buttons button {
	background: var(--primary-color);
	border: none;
	padding: 10px 20px;
	margin: 0 10px;
	font-family: inherit;
	cursor: pointer;
	color: #000;
}

.dialog-buttons button:hover {
	color: #fff;
	background: var(--secondary-color);
}

#controls-overlay .dialog-text {
	margin: 10px 0 40px 0;
}

.header.-hidden,
.main.-hidden,
.footer.-hidden,
.game-name.-hidden,
.menu.-hidden,
.game-over-name.-hidden,
.game-win.-hidden,
.game-over-menu.-hidden,
.dialog-overlay.-hidden {
	display: none;
}

.restart-button {
	border: none;
	padding: 10px 20px;
	margin: 0 10px;
	font-size: 16px;
	font-family: inherit;
	cursor: pointer;
	color: #000;
	background: var(--primary-color);
}

.restart-button:hover {
	color: #fff;
	background: var(--secondary-color);
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

@media (max-width: 1200px) {
	.game-name {
		padding: 0 160px 40px 160px;;
	}
}

@media (max-width: 560px) {
	.game-name {
		padding: 0 140px 40px 140px;
	}

	.footer {
		position: static;
	}
}

@media (max-width: 320px) {
	.game-name {
		padding: 0 100px 40px 100px;
	}
}